# Necessary for the API
fastapi
uvicorn

# Necessary for the tool "Naso"
ollama
textstat
language_tool_python

# Necessary for both the llm_judge module and the API
pydantic

urllib3>=2.8.0
msgpack>=1.2.1
setuptools>=83.0.0