# Necessary for the API
fastapi
uvicorn

# Necessary for the tool "Naso"
ollama
textstat
language_tool_python

# Necessary for both the llm_judge module and the API
pydantic

# Necessary to replicate the experiment on the CodeChat 2.0 subset
pandas
pyarrow
fastparquet
tqdm